@charset "utf-8";

@import "../base/colors.scss";
@import "../base/generic.scss";

$input-background-color: $light-gray;

$input-text-color: $black;

$input-text-indent: $padding-default;

$input-text-indent-icon: 2.5rem;

$input-error-color: $error-color;

$input-padding-top-bottom: $padding-small; 

$input-icon-padding: $padding-small;

$input-padding-left-right: 0px;

$input-border-radius: $border-radius-default;

$input-border-bottom: solid 3px $gray;

$input-border-bottom-focus: solid 3px $cta-color-light;

$input-border-color-error: $input-error-color;

$input-font-size-error: $font-size-small;


/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */

// Variables
// Declare any of these variables before importing this SCSS file to easily override defaults
// Variables are namespaced with the pd (pikaday) prefix

// Colours
$pd-text-color: $black !default;
$pd-title-color: $black !default;
$pd-title-bg: $white !default;
$pd-picker-bg: $white !default;
$pd-picker-border: $light-gray !default;
$pd-picker-border-bottom: #bbb !default;
$pd-picker-shadow: rgba(0,0,0,.5) !default;
$pd-th-color: $dark-gray !default;
$pd-day-color: $black !default;
$pd-day-bg: #f5f5f5 !default;
$pd-day-hover-color: $white !default;
$pd-day-hover-bg: $secondary-color-light !default;
$pd-day-today-color: $secondary-color !default;
$pd-day-selected-color: $white !default;
$pd-day-selected-bg: $secondary-color !default;
$pd-day-selected-shadow: $secondary-color-dark !default;
$pd-day-disabled-color: $dark-gray !default;
$pd-week-color: $dark-gray !default;
$pd-inrange-color: $black !default;
$pd-inrange-bg: $secondary-color-light !default;
$pd-startrange-color: $white !default;
$pd-startrange-bg: $secondary-color !default;
$pd-endrange-color: $white !default;
$pd-endrange-bg: $secondary-color !default;

// Font
$pd-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;