@charset "utf-8";

@import "../base/colors.scss";
@import "../base/generic.scss";

$pop-up-z-index: 999;

$pop-up-color: $white;

$pop-up-margin: -$margin-default;

$pop-up-header-margin: $margin-big;

$pop-up-btns-margin: $pop-up-header-margin;